{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

      <a class="navbar-brand" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
        <strong>saVests</strong>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
        </ul>

        {% if user.is_authenticated %}
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
              <p class="mr-3 mt-1 text-primary font-weight-bold">
                Welcome {{user.username}}
              </p>
          </li>
          <li class="nav-item">
            <a class="nav-link border border-light rounded" href="{% url 'account_logout' %}" >
              Logout
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link border border-light rounded mr-2" href="{% url 'account_login' %}">
              Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link border border-light rounded" href="{% url 'account_signup' %}">
              Signup
            </a>
          </li>
        </ul>
        {% endif %}
      </div>

    </div>
  </nav>

  <div class="view">

    <video class="video-intro" poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" playsinline autoplay
      muted loop>
      <source src="https://mdbootstrap.com/img/video/Lines-min.mp4" type="video/mp4">
    </video>

    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

      <div class="text-center white-text mx-5 wow fadeIn">

        <h1 class="display-4 mb-4">
          <strong>saVests Internship Excercise!</strong>
        </h1>

        {% if user.is_authenticated %}
        <h4 class="mb-4">
          <strong>Welcome {{user.username}} </strong>
        </h4>
        {% else %}
        <h4 class="mb-4">
            <strong>Please Proceed to Admin Dashboard</strong>
        </h4>
        {% endif %}

        <a href="admin" class="btn btn-outline-white btn-lg">Admin Dashboard
        </a>
      </div>

    </div>

  </div>
  {% endblock content %}

</body>

</html>
